{% set _body_classes = _body_classes|default([]) %}
<!DOCTYPE html>
<html>
    <head>
        <title>Foo Bar Layout</title>

        {% block styles %}
        <link href="{{ app.request.basepath }}/css/select2.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/app.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body class="{{ _body_classes | join(' ') }}">
        <div class="device">
            <a class="menu"><span></span></a>
            <nav>
                <ul>
                    <li><a href="{{ app.request.baseUrl }}">Home</a></li>
                    <li><a href="{{ app.request.baseUrl }}/user/1">Badges</a></li>
                    <li><a href="{{ app.request.baseUrl }}/preference/1">Settings</a></li>
                </ul>
                <div class="overlay"></div>
                <h5>Unlock<br><span>Vermont</span></h5>
            </nav>
            {% block flash %}
            {% if flash is defined %}
            <div class="alert alert-{{ flash.type }}">
                {{ flash.message }}
            </div>
            {% endif %}
            {% endblock flash %}
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}
        <script src="/js/jquery.js"></script>
        <script src="/js/lodash.js"></script>
        <script>
        $(".menu, .overlay").click(function() {
          $("nav").toggleClass("open");
        });
        </script>
        {% endblock %}
    </body>
</html>
