{% extends "layout.html.twig" %}

{% block content %}

<div id="preferences">

<h2>Pick your categories:</h2>

<form name="prefs_form" action="{{ path('preferences', {id: user.id}) }}" method="POST">
{% for cat in categories %}
    {% if cat.name in prefs %}
        <input type="checkbox" checked name="{{ cat.id }}">{{ cat.name }}<br>
    {% else %}
        <input type="checkbox" name="{{ cat.id }}">{{ cat.name }}<br>
    {% endif %}
{% endfor %}
    <input type="submit" value="Update your preferences">
</form>

<!-- <a href="{{ app.request.baseUrl }}">Return Home</a> -->
</div><!-- preferences -->
{% endblock %}